.tablica{
    border: 1px solid grey;
    border-collapse: collapse;
    border-spacing: 0 15px;
    margin: auto;
    margin-top: 15%;
    scale: 1.5;
    padding: 10px;
    width: 600px;
    white-space: nowrap;
}  
th,td {
        width: 600px;
        text-align: left;
        border: 1px solid black;
        padding: 1%;
        border-collapse: collapse;
        height: 25px;
}
.row0{
    background-color: lightblue;
    border: 1px solid grey;
    border-collapse: collapse;
    color: white;
}
.row1{
    background-color: lightgrey;
    border: 1px solid grey;
    border-collapse: collapse;
}
.row2{
    background-color: white;
    border: 1px solid grey;
    border-collapse: collapse;
}   
.row3{
    background-color: lightgrey;
    border: 1px solid grey;
    border-collapse: collapse;
}
.row4{
    background-color: white;
        border: 1px solid grey;
    border-collapse: collapse;
}
.row5{
    background-color: lightgrey;
        border: 1px solid grey;
    border-collapse: collapse;
}