html{
    background-image: linear-gradient(to bottom, #FFFFFF, #B727F5, #000000);
    height: 100%;
}   
.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    color: white;
}
.p5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    color: purple;
}
.prvi{
    width: 500px;
    height: 150px;
    margin-top: 150px;
    margin-left: 580px;
    background-color: #49225B;
    border: solid #49225B 2px;
    border-radius: 100px;
    box-shadow: 1px 4px 45px -11px rgba(0,0,0,0.75);
}
.drugi{
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: 580px;
    background-color: #6E3482;
    border: solid #6E3482 2px;
    border-radius: 100px;
    box-shadow: 1px 4px 45px -11px rgba(0,0,0,0.75);
}
.treci{
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: 580px;
    background-color: #A56ABD;
    border: solid #A56ABD 2px;
    border-radius: 100px;
    box-shadow: 1px 4px 45px -11px rgba(0,0,0,0.75);
}
.cetvrti{
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: 580px;
    background-color: #E7DBEF;
    border: solid #E7DBEF 2px;
    border-radius: 100px;
    box-shadow: 1px 4px 45px -11px rgba(0,0,0,0.75);
}
.peti{
    width: 500px;
    height: 150px;
    margin-top: -75px;
    margin-left: 580px;
    background-color: #F5EBFA;
    border: solid #F5EBFA 2px;
    border-radius: 100px;
    box-shadow: 1px 4px 45px -11px rgba(0,0,0,0.75);
}