.main{
    width: 500px;
    height: 300px;
    top: 2px;
    left: 550px;
    position: relative;
    background-color: red;
    border: black solid 2px;
}
.blue{
    position: relative;
    width: 500px;
    height: 150px;
    top: 75px;
    background-color: blue;
}  
.white{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 90px;
    left: 190px;
    background-color: white;
    border-radius: 50%;
}
.main2{
    width: 500px;
    height: 300px;
    left: 550px;
    position: relative;
    background-color: blue;
    border: black solid 2px;
}
.white2{
    position: absolute;
    width: 500px;
    height: 75px;
    top: 100px;
    background-color: white;
}
.white3{
    position: absolute;
    width: 100px;
    height: 300px;
    left: 125px;
    background-color: white;
}
.red1{
    position: absolute;
    width: 500px;
    height: 35px;
    top: 120px;
    background-color: red;  
}
.red2{
    position: absolute;
    width: 50px;
    height: 300px;
    left: 150px;
    background-color: red;  
}
.main3{
    width: 500px;
    height: 300px;
    left: 550px;
    position: relative;
    background-color: lightgreen;
    border: black solid 2px;
}
.crno{
    width: 0;
    height: 0;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-left: 200px solid black;
    position: absolute;
    z-index: 1;
}
.zuto{
    position: absolute;
    top: 90px;
    height: 120px;
    width: 500px;
    background-color: yellow;
}
.main4{
    width: 500px;
    height: 300px;
    left: 550px;
    position: relative;
    background-color: red;
    border: black solid 2px;
}
.bijelo{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: white;
}
.zigzag{
    width: 0;
    height: 0;
    left: 200px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    position: absolute;
    z-index: 1;
}
.zigzag1{
    width: 0;
    height: 0;
    top: 60px;
    left: 200px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    position: absolute;
    z-index: 1;
}
.zigzag2{
    width: 0;
    height: 0;
    top: 120px;
    left: 200px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    position: absolute;
    z-index: 1;
}
.zigzag3{
    width: 0;
    height: 0;
    top: 180px;
    left: 200px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    position: absolute;
    z-index: 1;
}
.zigzag4{
    width: 0;
    height: 0;
    top: 240px;
    left: 200px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    position: absolute;
    z-index: 1;
}