/* *{
    box-sizing: border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
/* div{
    width: 300px;
    height: 300px;
    /* border-radius: 50%; 
}*/ 
body{
    background-color: black;
}
/* .box{
    background-color: aqua;
    border: 5px solid salmon;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 50px;
    border-top: 10px solid blue;
}
.drugi{
    background-color: bisque;
    border: 5px dashed blue;
    margin: 80px 40px 80px 40px;
} */ 
.zastava1{
    width: 600px;
    height: 150px;
    background-color: lightskyblue;
    margin-left: 35%;
    margin-top: 10%;
}
.zastava2{
    width: 600px;
    height: 20px;
    background-color: white;
    margin-left: 35%;
}
.zastava3{
    background-color: black;
    width: 600px;
    height: 70px;
    margin-left: 35%;

}
.zastava4{
    width: 600px;
    height: 20px;
    background-color: white;
    margin-left: 35%;
}
.zastava5{
    width: 600px;
    height: 150px;
    background-color: lightskyblue;
    margin-left: 35%;
}
