body{
    background-color: lightblue;
}

.obrub{
    border: 2px solid grey;
    border-radius: 1.5%;
    width: 400px;
    height: 580px;
    margin-left: 40%;
    margin-top: 10%;
    background-color: white;
}
.Slika{
    margin-left: 10%;
    width: 280px;
    height: 280px;
    border-radius: 1.5%;

}
.naslov{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 10%;
    font-weight: bold;
    margin-left: 5%;
    font-size: 30px;
}
.tekst{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: 350px;
    margin-top: 10%;
    color: grey;
        margin-left: 5%;
}
.readmore{
    margin-top: -5%;
    margin-left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: lightblue;
    text-decoration: none;
    background-color: blue;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 50%;

}
.readmoretekst{
    margin-top: 15%;
}