.box-main{
    position: relative;
    top: 200px;
    left: 200px;
    width: 500px;
    height: 300px;
    background-color: blue;
}
.box1{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 150px;
    left: 250px;
    border-radius: 50%;
    background-color: red;
}