body{
    background-color: grey;
}
.svekartice{
    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    vertical-align: middle;
    margin-top: 8%;
}
.prvidio{
    width: 300px;
    height: 550px;
    display: block;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}
.drugidio{
    width: 300px;
    height: 550px;
    display: block;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}
.trecidio{
    width: 300px;
    height: 550px;
    display: block;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}
h2{
    margin-top: 2.5%;
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 300px;
}
.prvihr{
    margin-top: 61.5%;
}
.drugihr{

}
.trecihr{
    margin-top: 69%;
}
span{
    padding: 10px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}