img{
    width: 400px;
    height: 300px;
}
.main{
    position: relative;
    border: 2px solid black;
    margin-top: -300px;
    margin-left: 450px;
    width: 400px;
    height: 300px;
    background-color: #2D3464;
}
.kozna{
    position: absolute;
    top: 250px;
    left: 150px;
    width: 100px;
    height: 50px;
    background-color: #DAB897;
}
.kozna1{
    position: absolute;
    top: 80px;
    left: 175px;
    width: 50px;
    height: 80px;
    background-color: #DAB897;
}
.kozna2{
    width: 220px;
    height: 80px;
    background: #DAB897;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 360px 360px 0 0; 
    overflow: hidden;

}
.kozna3{
    width: 50px;
    height: 110px;
    background: #2D3464;
    position: absolute;
    top: 150px;
    left: 175px;
}

.main1{
    position: relative;
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin-top: -300px;
    left: 450px;
}