body{
    font-family: 'Inter', sans-serif;
}

.slika1{
    width: 400px;
    height: 300px;
}
.main{
    position: relative;
    border: 2px solid black;
    margin-top: -300px;
    margin-left: 450px;
    width: 400px;
    height: 300px;
    background-color: #2D3464;
}
.kozna{
    position: absolute;
    top: 250px;
    left: 150px;
    width: 100px;
    height: 50px;
    background-color: #DAB897;
}
.kozna1{
    position: absolute;
    top: 80px;
    left: 175px;
    width: 50px;
    height: 80px;
    background-color: #DAB897;
}
.kozna2{
    width: 220px;
    height: 80px;
    background: #DAB897;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 360px 360px 0 0; 
    overflow: hidden;

}
.kozna3{
    width: 50px;
    height: 110px;
    background: #2D3464;
    position: absolute;
    top: 150px;
    left: 175px;
}
.iskaznicaslika{
    width: 500px;
    height: 300px;
}
.main1{
    position: relative;
    width: 500px;
    height: 300px;
    padding: 1px;
    border: 3px solid black;
    margin-top: -300px;
    left: 500px;
}

.sve
{
    margin-top: 20px;
    margin-left: 20px;
}
.ime{
    margin-top: 40px;
    margin-left: 215px;
    font-size: 16px;
}
.opis{
    width: 220px;
    margin-left: 195px;
    text-align: justify;
    color: #595959;
}
.opis1{
    width: 260px;
    margin-left: 180px;
    margin-top: -15px;
        color: #595959;
}
.fon,.mail{
    margin-left: 180px;
            color: #595959;
}
.emtel{
    margin-top: 30px;
    margin-left: 200px;
            color: #595959;
}
.slikafejs{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 175px;
}
.fejs{
    color: #595959;
}
.ig{
    margin-left: 40px;
            color: #595959;
}
.slikaig{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 290px;
}   
.people{
    position: absolute;
    padding: 10px;
    top: 55px;
    left: 20px;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}